<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580863765306-3nd430aia29hrnc6iic8qq0m41cqmq6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580863765306-3nd430aia29hrnc6iic8qq0m41cqmq6u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>580863765306-ugrik8clpaluof4r77h65dbihhlk989r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkR0jIVZOODpQpr6JTSEV5-ebNuWP4ye0</string>
	<key>GCM_SENDER_ID</key>
	<string>580863765306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abdalah.Vr-Tour</string>
	<key>PROJECT_ID</key>
	<string>mytour-6820e</string>
	<key>STORAGE_BUCKET</key>
	<string>mytour-6820e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580863765306:ios:7f0ea2378dcacad0ff3e03</string>
	<key>DATABASE_URL</key>
	<string>https://mytour-6820e.firebaseio.com</string>
</dict>
</plist>